<body class="page">
  <div class="container">
      <div class="card">
          <h4 class="card-header">Login</h4>
          <div class="card-body">
              <form
                name="form"
                #login="ngForm"
                (ngSubmit)="login.form.valid && onSubmit(login)"
                novalidate
              >
                <div class="form-group">
                  <label>Email</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    [(ngModel)]="form.email"
                    required
                    email
                    #email="ngModel"
                    [ngClass]="{ 'is-invalid': login.submitted && email.errors }"
                  />
                  <div *ngIf="login.submitted && email.errors" class="invalid-feedback">
                    <div *ngIf="email.errors['required']">Email is required</div>
                    <div *ngIf="email.errors['email']">Email is invalid</div>
                  </div>
                </div>
            
                <div class="form-group mt-3">
                  <label>Password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="form.password"
                    required
                    #password="ngModel"
                    [ngClass]="{ 'is-invalid': login.submitted && password.errors }"
                  />
                  <div *ngIf="login.submitted && password.errors" class="invalid-feedback">
                    <div *ngIf="password.errors['required']">Password is required</div>
                  </div>
                </div>
            
                <div class="text-center mt-3">
                  <a href="/register">I don't have an account</a>
                </div>
                <div class="form-group text-center">
                  <button type="submit" class="btn btn-primary buttons mt-3">Login</button>
                </div>
              </form>
          </div>
      </div>
  </div>
</body>