<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/home">Quaestio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <!--<li class="nav-item">
                  <a class="nav-link" routerLink="/home">Home</a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/answered">Answered</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/questions">Questions</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>